# Игнорировать временные и сгенерированные файлы компиляции
*.o
*.obj
*.pro.user
*.pro.user.*
*.moc
*.moc.*
*.user
Makefile
Makefile.*
*.moc
*.moc.*
*.user
*.qmake.*
*.qm

# Игнорировать сгенерированные файлы сборки
debug/
release/
release-*    # Игнорировать папки release-NUMBER
*.build/
*.app
*.exe

# Игнорировать сгенерированные файлы ресурсов
*.qrc
*.qrc.*

# Игнорировать сгенерированные файлы форм
*.ui
*.ui.*

# Игнорировать файлы логов и отчеты о покрытии кода
*.log
*.gcov
gcov*/
.clang-*

# Игнорировать временные файлы и каталоги
[Tt]mp/
[Dd]ebug/
[Dd]ebug*/
[Rr]elease/
[Rr]elease-*/

# Игнорировать файлы настроек Qt Creator
*.autosave

# Игнорировать файлы проекта и сборки
*.pro.user.*
*.pro.user
*.pro.shared

# Игнорировать файлы автоматически созданные Qt Linguist
*.ts
*.qm

# Игнорировать папку сборки CMake
build/